<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>Consumer App - Submit Transaction</title>
</head>
<body>
    <h1>Submit Bank Transaction</h1>

    <form method="post" action="{% url 'submit_transaction' %}">
        {% csrf_token %}
        
        <label for="account_number">Account Number:</label>
        <input type="text" id="account_number" name="account_number" required>

        <label for="transaction_amount">Transaction Amount:</label>
        <input type="number" id="transaction_amount" name="transaction_amount" step="0.01" required>

        <button type="submit">Submit Transaction</button>
    </form>

    
</body>
</html>
